<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title%>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Didact+Gothic|Monoton" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>
    <h1><a href='/'>sunniExcels</a></h1>
    <nav>
        <ul>
            <li><a href="/about" <%- title==='About' ? 'class="active"' : '' %>>ABOUT</a></li>
            <li><a href="/tutorials" <%- title==='Tutorials' ? 'class="active"' : '' %>>TUTORIALS</a></li>
            <li><a href="/tutorials/new" <%- title==='Create Tutorial' ? 'class="active"' : '' %>>CREATE TUTORIAL</a></li>
            <li>
                <% if (user) { %>
                <a href="/logout"><i class="material-icons left"></i>LOG OUT</a>
                <% } else { %>
                <a href="/auth/google"><i class="material-icons left"></i>LOGIN WITH GOOGLE</a>
                <% } %>
            </li>
        </ul>
    </nav>
</header>

<body>