<%- include('./partials/header') %>

<h1>About Sunnie Excels</h1>
<br>
<br>
<br>
<h3>Even though I had experience working with Excel as a student, I did not realize how useful Excel could be outside of work.
    However, learning to use it for my first corporate job helped me to gain a love for the program and a desire to share how to use it with as many people as possible.</h3>