<%- include('./partials/header') %>
<main>
    <div id="about">
        <h1>Navigating sunniExcels</h1>
        <h3>1. Use your Google account to log in <br></h3>
        <h3>2. View Excel tutorials<br></h3>
        <h3>3. Leave comments or questions for a tutorial <br></h3>
        <h3>4. Create your won Excel tutorial <br></h3>
        <h3>5. If you don't want to login, you can still view the tutorials <br></h3>
        </h3>

    </div>
</main>

<%- include('./partials/footer') %>