<%- include('./partials/header') %>
<main>
<div id="welcome">
<h1>Welcome!<br>
<br>
    I'm excited that you've landed here to learn to <span>EXCEL</span>.</h1>
<h4>Learning to use excel will not only enhance any professional goals you might have but also help aid you in general life organization including financial management.</h4>
</div>
</main>
<%- include('./partials/footer') %>
