<%- include('./partials/header') %>
<main>
<div id="welcome">
<h1>! ! ! W E L C O M E ! ! !</h1>
    <h3>I'm excited that you've landed here to learn to <span>EXCEL</span>.<br>
Excel is a versatile application used not only for professional needs but personal goals as well.
Learn to Excel to analyze sales reports, inventory levels, financial spending, project management, document creation and so much more. </h3>
</div>
</main>
<%- include('./partials/footer') %>
