body {
  margin: 0 auto;
  /* font-family: 'Fredericka the Great', cursive, "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Josefin Slab', serif;
  max-width: 1000px;
}

main {
  max-width: 950px;
}

header {
  background-color: black;
  text-align: center;
  justify-content: center;
  font-family: 'Trirong', serif;
}

header > h1 {
 font-size: 40px;
}

nav {
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
}

nav > ul {
  padding-left: 0;
  justify-content: center;
  text-align: center;
  margin: 0;
}

li > a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

li {
  float: left;
  background-color: black;
  padding: 10px;
}

li > a:hover {
  color: greenyellow;
}

header > h1 {
  color: white;
  border: 0px;
  margin: 0px;
  text-align: center;
}

.title {
  font-size: 30px;
  text-decoration: none;
}

.title > a {
  text-decoration: none;
}

#input-tutorial-title {
  height: 30px;
  width: 500px;
  font-size: 20px;
}

#create-tutorial-box {
  height: 300px;
  width: 500px;
}

