<%- include('../partials/header') %>
<h1>Excel Tutorials</h1>
<br><br>
<table>
<thead>
    <tr>
        <th>Mastered</th>
        <th>Tutorial</th>
    </tr>
</thead>
<tbody>
    <% tutorials.forEach(function(t) { %>
    <tr>
        <td><h1><input type="checkbox" name='mastered'><%= t.mastered %></h1></td>
        <td><h1 class="title"><a href="/tutorials/<%= t._id %>"><%= t.title %></a></h1></td>
    </tr>
    <% }) %>
</tbody>
</table>