<%- include('../partials/header') %>

<h1><%= title %></h1>
<br>
<br>
<br>
<main id="tutorial">

    <%= steps.content%>
    <br>
    why is my title the only piece of information i can get
</p>
</main>